[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "secrets"]
	path = secrets
	url = https://github.com/xtray85/ADT_STATION.git
	optional = true
