[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "ADT_Secrets"]
	path = ADT_Secrets
	url = https://github.com/xtray85/ADT_STATION
	branch = main
	update = none
