name: Publish ERP

concurrency:
  group: publish

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: sudo apt-get install -y python3-paramiko

      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          ref: ERP

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.100

      - name: Get Engine Tag
        run: |
          cd RobustToolbox
          git fetch --depth=1

      - name: Install dependencies
        run: dotnet restore

      - name: Build Packaging
        run: dotnet build Content.Packaging --configuration Release --no-restore /m

      - name: Package server
        run: dotnet run --project Content.Packaging server --platform linux-x64

      - name: Package client
        run: dotnet run --project Content.Packaging client --no-wipe-release


      - name: Update Build Info
        run: Tools/gen_build_info.py

      - name: Shuffle files around
        run: |
          mkdir "release/${{ github.sha }}"
          mv release/*.zip "release/${{ github.sha }}"

      - name: Upload files to mothership
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --ignore-existing
          path: "release/${{ github.sha }}"
          remote_path: ${{ secrets.BUILDS_PATH }}
          remote_host: ${{ secrets.BUILDS_HOST }}
          remote_port: ${{ secrets.BUILDS_PORT }}
          remote_user: ${{ secrets.BUILDS_USERNAME }}
          remote_key: ${{ secrets.BUILDS_SSH_KEY }}

      - name: Update manifest JSON
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.BUILDS_HOST }}
          port: ${{ secrets.BUILDS_PORT }}
          username: ${{ secrets.BUILDS_USERNAME }}
          key: ${{ secrets.BUILDS_SSH_KEY }}
          script: python3 ~/manifest.py ${{ github.sha }} erp

      - name: Update CDN repository
        run: |
          curl -X POST -d "" -H 'Authorization: Bearer ${{ secrets.BUILDS_TOKEN }}' "http://${{ secrets.BUILDS_HOST }}:27690/control/update"
